@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-white;
  @apply text-opacity-90;

  width: 100%;
  background-image: linear-gradient(
    to left bottom,
    #20125a,
    #331971,
    #481f88,
    #5f249e,
    #7729b5
  );
}

html,
body,
#app {
  @apply min-h-full;
}

h1,
h2,
.text-shadow {
  text-shadow: 1px 1px #00000020;
}

.color-twitter {
  color: #1da1f2;
}
.color-youtube {
  color: #ff0000;
}
